html, body {
  height: 100%;
  width: 100%;
}
nav li > a {
  color: #141414 !important;
  font-family: 'Montserrat';
  font-size: 13px !important;
}
nav li > a:hover {
  background-color: transparent !important;
  color: #10C9C3 !important;
}
h1, p {
  font-family: 'Montserrat' !important;
}
#main-image {
  width: 100vw;
  background-size: cover;
  height: 49vw;
  background-image: url(images/images/aidan-hancock-8RU4OuA6Yug-unsplash.png);
  background-repeat: no-repeat;
}
button {
  background-color: #10C9C3;
  border-color: transparent;
  border-width: 0px;
  color: white !important;
}